.product-details-container {
    text-align: center;
    padding: 20px;
    background-color: #f7f9fb;
    color: #333;
    min-height: 100vh;
}

.product-details-container h1 {
    font-size: 2.5em;
    color: #2d2d2d;
    margin-bottom: 10px;
}

.product-details-container p {
    font-size: 1.5em;
    color: #777;
}

.subproducts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.subproduct-card {
    background: white;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    padding: 0;
    width: 300px;
    height: 400px;
    margin: 15px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

.subproduct-card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.subproduct-image {
    width: 100%;
    height: 70%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    margin: 0;
}

.price {
    font-weight: bold;
    font-size: 1.6em; /* Larger font size for better visibility */
    color: #2ecc71; /* Green color to make it attractive */
    margin-top: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow to add depth */
    transition: transform 0.2s ease-in-out;
}

/* Apply hover effect to price */
.price:hover {
    transform: scale(1.1); /* Slight scale effect on hover */
}

/* Discount Badge positioning and styling */
.discount-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #e74c3c;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: bold;
    z-index: 10;
}

@media (max-width: 768px) {
    .subproduct-card {
        width: 90%;
        height: 300px;
    }

    .product-details-container h1 {
        font-size: 2em;
    }

    .product-details-container p {
        font-size: 1.2em;
    }

    .price {
        font-size: 1.2em; /* Adjust price size on small screens */
    }
}
